/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .col-lg-3 {
      width: 50%;
      display: inline-block;
    }
  
    .bg1 {
      height: 170px;
    }
  
    embed {
      width: 100%;
    }
    
    .center-text {
      text-align: center;
    }
  
    .shrink-img, shrink {
      width: 360px;
    }
  
    .resumeheight img{
      width: 100%;
    }
  }
  
  /* Media Query for low resolution  Tablets, Ipads */
  @media (min-width: 481px) and (max-width: 767px) {
    .col-lg-3 {
      width: 33%;
      display: inline-block;
    }
  
    .col-lg-4 {
      width: 100%;
      display: inline-block;
    }
  
    embed {
      width: 100%;
      height: 1100px;
    }
  
    .bg1 {
      height: 140px;
    }
    
    .center-text {
      text-align: center;
    }
  
    .shrink-img {
      width: 480px;
    }
  
    .img2 img {
      object-fit: contain;
      width: 100px;
    }

    .img3 img{
      height: 400px;
      object-fit: contain;
    }

    .resumeheight img{
      width: 100%;
    }
  }
  
  /* Media Query for Tablets Ipads portrait mode, Mobiles on Desktop Site mode */
  @media (min-width: 768px) and (max-width: 1024px){
    .col-lg-3 {
      width: 33%;
      display: inline-block;
    }
  
    .img2 img {
      width: auto;
    }
  
    .bg1 {
      height: 165px;
    }
  
    .prj{
      width: 50%;
      display: inline-block;
    }
  
    .center-text {
      text-align: center;
    }
  
    .shrink-img {
      width: 700px;
    }
  
    .img3 img {
      object-fit: contain;
      height: 250px;
    }

    .resumeheight img{
        width: 100%;
    }
  }
  
  /* Media Query for Laptops and Desktops */
  @media (min-width: 1025px) and (max-width: 1280px){
    .prj {
      width: 33%;
      display: inline-block;
      height: 700px;
      object-fit: contain;
    }
  
    .bg1 {
      height: 150px;
    }
  
    .center-text {
      text-align: center;
    }
  }