@keyframes typing {
	0%, 48% { content: ""; }
	1%, 47% { content: "F"; }
	2%, 46% { content: "Fu"; }
	3%, 45% { content: "Ful"; }
	4%, 44% { content: "Full"; }
	5%, 43% { content: "Full S"; }
	6%, 42% { content: "Full St"; }
	7%, 41% { content: "Full Sta"; }
	9%, 40% { content: "Full Stac"; }
	10%, 38% { content: "Full Stack"; }
	11%, 37% { content: "Full Stack D"; }
	12%, 36% { content: "Full Stack De"; }
	13%, 35% { content: "Full Stack Dev"; }
	14%, 34% { content: "Full Stack Deve"; }
	15%, 33% { content: "Full Stack Devel"; }
	16%, 32% { content: "Full Stack Develo"; }
	17%, 31% { content: "Full Stack Develop"; }
	18%, 30% { content: "Full Stack Develope"; }
	19%, 29% { content: "Full Stack Developer"; }
  
	59%, 89% { content: ""; }
	60%, 88% { content: "M"; }
	61%, 87% { content: "ML"; }
	62%, 86% { content: "ML E"; }
	63%, 85% { content: "ML En"; }
	64%, 84% { content: "ML Eng"; }
	65%, 83% { content: "ML Engi"; }
	66%, 82% { content: "ML Engin"; }
	67%, 81% { content: "ML Engine"; }
	68%, 80% { content: "ML Enginee"; }
	69%, 79% { content: "ML Engineer"; }
}
  
@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}
  
.typewriter {
	--caret: currentcolor;
}
  
.typewriter::before {
	content: "";
	animation: typing 13.5s infinite;
}
  
.typewriter::after {
	content: "";
	border-right: 1px solid var(--caret);
	animation: blink 0.5s linear infinite;
}  
