@keyframes typing {
00.00%, 34.20% { content: ""; }
00.95%, 33.25% { content: "F"; }
01.90%, 32.30% { content: "Fu"; }
02.85%, 31.35% { content: "Ful"; }
03.80%, 30.40% { content: "Full"; }
04.75%, 29.45% { content: "Full S"; }
05.70%, 28.50% { content: "Full St"; }
06.65%, 27.55% { content: "Full Sta"; }
07.60%, 26.60% { content: "Full Stac"; }
08.55%, 25.65% { content: "Full Stack"; }
09.50%, 24.70% { content: "Full Stack D"; }
10.45%, 23.75% { content: "Full Stack De"; }
11.40%, 22.80% { content: "Full Stack Dev"; }
12.35%, 21.85% { content: "Full Stack Deve"; }
13.30%, 20.90% { content: "Full Stack Devel"; }
14.25%, 19.95% { content: "Full Stack Develop"; }
15.20%, 19.00% { content: "Full Stack Develope"; }
16.15%, 18.05% { content: "Full Stack Developer"; }

36.10%, 55.10% { content: ""; }
37.05%, 54.15% { content: "M"; }
38.00%, 53.20% { content: "ML"; }
38.95%, 52.25% { content: "ML E"; }
39.90%, 51.30% { content: "ML En"; }
40.85%, 50.35% { content: "ML Eng"; }
41.80%, 49.40% { content: "ML Engi"; }
42.75%, 48.45% { content: "ML Engin"; }
43.70%, 47.50% { content: "ML Engine"; }
44.65%, 46.55% { content: "ML Engineer"; }

57.95%, 97.85% { content: ""; }
58.90%, 96.90% { content: "O"; }
59.85%, 95.95% { content: "Op"; }
60.80%, 95.00% { content: "Ope"; }
61.75%, 94.05% { content: "Open"; }
62.70%, 93.10% { content: "Open S"; }
63.65%, 92.15% { content: "Open So"; }
64.60%, 91.20% { content: "Open Sou"; }
65.55%, 90.25% { content: "Open Sour"; }
66.50%, 89.30% { content: "Open Source"; }
67.45%, 88.35% { content: "Open Source C"; }
68.40%, 87.40% { content: "Open Source Co"; }
69.35%, 86.45% { content: "Open Source Con"; }
70.30%, 85.50% { content: "Open Source Cont"; }
71.25%, 84.55% { content: "Open Source Contr"; }
72.20%, 83.60% { content: "Open Source Contri"; }
73.15%, 82.65% { content: "Open Source Contrib"; }
74.10%, 81.70% { content: "Open Source Contribu"; }
75.05%, 80.75% { content: "Open Source Contribut"; }
76.00%, 79.80% { content: "Open Source Contributo"; }
76.95%, 78.85% { content: "Open Source Contributor"; }
}

@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}
  
.typewriter {
	--caret: currentcolor;
}
  
.typewriter::before {
	content: "";
	animation: typing 13.5s infinite;
}
  
.typewriter::after {
	content: "";
	border-right: 1px solid var(--caret);
	animation: blink 0.5s linear infinite;
}  
