@keyframes typing {
	0%, 26% { content: ""; }
	1%, 25% { content: "W"; }
	2%, 24% { content: "We"; }
	3%, 23% { content: "Web"; }
	4%, 22% { content: "Web D"; }
	5%, 21% { content: "Web De"; }
	6%, 20% { content: "Web Dev"; }
	7%, 19% { content: "Web Deve"; }
	8%, 18% { content: "Web Devel"; }
	9%, 17% { content: "Web Develo"; }
	10%, 16% { content: "Web Develop"; }
	11%, 15% { content: "Web Develope"; }
	12%, 14% { content: "Web Developer"; }
  
	28%, 51% { content: ""; }
	29%, 50% { content: "D"; }
	30%, 49% { content: "Da"; }
	31%, 48% { content: "Dat"; }
	32%, 47% { content: "Data"; }
	33%, 46% { content: "Data A"; }
	34%, 45% { content: "Data An"; }
	35%, 44% { content: "Data Ana"; }
	36%, 43% { content: "Data Anal"; }
	37%, 42% { content: "Data Analy"; }
	38%, 41% { content: "Data Analys"; }
	39%, 40% { content: "Data Analyst"; }


	53%, 97% { content: ""; }
	54%, 96% { content: "O"; }
	55%, 95% { content: "Op"; }
	56%, 94% { content: "Ope"; }
	57%, 93% { content: "Open"; }
	58%, 92% { content: "Open S"; }
	59%, 91% { content: "Open So"; }
	60%, 90% { content: "Open Sou"; }
	61%, 89% { content: "Open Sour"; }
	62%, 88% { content: "Open Sourc"; }
	63%, 87% { content: "Open Source"; }
	64%, 86% { content: "Open Source C"; }
	65%, 85% { content: "Open Source Co"; }
	66%, 84% { content: "Open Source Con"; }
	67%, 83% { content: "Open Source Cont"; }
	68%, 82% { content: "Open Source Contr"; }
	69%, 81% { content: "Open Source Contri"; }
	70%, 80% { content: "Open Source Contrib"; }
	71%, 79% { content: "Open Source Contribu"; }
	72%, 78% { content: "Open Source Contribut"; }
	73%, 77% { content: "Open Source Contributo"; }
	74%, 76% { content: "Open Source Contributor"; }
}
  
@keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
}
  
.typewriter {
	--caret: currentcolor;
}
  
.typewriter::before {
	content: "";
	animation: typing 13.5s infinite;
}
  
.typewriter::after {
	content: "";
	border-right: 1px solid var(--caret);
	animation: blink 0.5s linear infinite;
}  
