/* Typewriter effect 1 */
@keyframes typing {
	0%, 37% { content: ""; }
	1%, 36% { content: "F"; }
	2%, 35% { content: "Fr"; }
	3%, 34% { content: "Fro"; }
	4%, 33% { content: "Fron"; }
	5%, 32% { content: "Front"; }
	6%, 31% { content: "Front E"; }
	7%, 30% { content: "Front En"; }
	9%, 29% { content: "Front End"; }
	10%, 28% { content: "Front End D"; }
	11%, 27% { content: "Front End De"; }
	12%, 26% { content: "Front End Dev"; }
	13%, 25% { content: "Front End Deve"; }
	14%, 24% { content: "Front End Devel"; }
	15%, 23% { content: "Front End Develo"; }
	16%, 22% { content: "Front End Develop"; }
	17%, 21% { content: "Front End Develope"; }
	18%, 20% { content: "Front End Developer"; }
  
	43%, 70% { content: ""; }
	44%, 69% { content: "U"; }
	45%, 68% { content: "UI"; }
	46%, 67% { content: "UI/"; }
	47%, 66% { content: "UI/U"; }
	48%, 65% { content: "UI/UX"; }
	49%, 64% { content: "UI/UX D"; }
	50%, 63% { content: "UI/UX De"; }
	51%, 62% { content: "UI/UX Des"; }
	52%, 61% { content: "UI/UX Desi"; }
	53%, 60% { content: "UI/UX Desig"; }
	54%, 59% { content: "UI/UX Design"; }
	55%, 58% { content: "UI/UX Designe"; }
	56%, 57% { content: "UI/UX Designer"; }
  
	76%, 97% { content: ""; }
	77%, 96% { content: "M"; }
	78%, 95% { content: "ML"; }
	79%, 94% { content: "ML E"; }
	80%, 93% { content: "ML En"; }
	81%, 92% { content: "ML Eng"; }
	82%, 91% { content: "ML Engi"; }
	83%, 90% { content: "ML Engin"; }
	84%, 89% { content: "ML Engine"; }
	85%, 88% { content: "ML Enginee"; }
	86%, 87% { content: "ML Engineer"; }
  
  }
  
  @keyframes blink {
	0%, 100% { opacity: 1; }
	50% { opacity: 0; }
  }
  
  .typewriter {
	--caret: currentcolor;
  }
  
  .typewriter::before {
	content: "";
	animation: typing 13.5s infinite;
  }
  
  .typewriter::after {
	content: "";
	border-right: 1px solid var(--caret);
	animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
	border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
	border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
	.typewriter::after {
	  animation: none;
	}
	
	@keyframes sequencePopup {
	  0% { content: "Front End Developer"; } 43% { content: "UI/UX Designer"; } 76% { content: "ML Engineer"; }
	}
  
	.typewriter::before {
	  content: "Front End Developer";
	  animation: sequencePopup 12s linear infinite;
	}
  }
  
  /**/